*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Albert Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
:root{
    --black:#3B434E;
    --white:white;
    --gray-light:#EBEBEB;
    --primary-hover:#6344DF;
    --primary:#7653FC;
    --red:#FC836D;
    --green:#1DC37E;
    --green-light:#C8F8E4;

}